<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();

</script>

</body>
</html>
